@font-face {
    font-family: Trojan;
    src: url("./Trajan\ Pro\ Regular.ttf");
}

*{
    box-sizing: border-box;
}

html{
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body{
    width: 100%;
    margin: 0;
}

.container{
    width: 100%;
    height:fit-contentz;
    display: grid;
    grid-template-columns: 1fr 7fr 2fr;
    grid-template-rows: 1fr 6fr;
    background-color: #000000;
    font-family: Trojan;
}

.header{
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    max-height: 130px;
    background-color: #000000;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./images/Screenshot\ from\ 2024-09-30\ 21-57-21.png");
    margin-bottom: 10px;
}

.logo{
    height: 80%;
}
.navbar{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 3fr repeat(6, 1fr) 10fr;
    gap: 40px;
    color: white;
    font-family: Trojan;
    font-size: 23px;
    padding-left: 20px;
    padding-top: 50px;
    max-height: 1000px;
    margin-right: 10px;
}
.option{
    padding: 15px;
    padding-left: 20px;
    font-weight: bold;
    transition: all ease 0.2s;
}

.option:hover{
    color: rgb(71, 151, 217);
    cursor: pointer;
    background-color: rgba(58, 58, 58, 0.508);
    border-radius: 20px;
   
}
.option > a:hover{
    color: rgb(71, 151, 217);
}

.the-knight{
    width: 150px;
    margin-left: 30px;
    transform: scale(1.1);
}

.article{
    border: none;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
    font-family: Trojan;
    margin-top: 0;
    max-height: 900px;
    overflow: auto;
    scrollbar-width: none;
}

.article > div{
    border-radius: 30px;
    max-height: 400px;
}

.sidebar{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    max-height: 1000px;
}

.sidebar > div{
    border-radius: 20px;
}

.footer{
    font-family: Trojan;
    background-color: black;
    text-align: center;
    color: white;
    font-size: 20px;
}

.footer > a:hover{
    color: rgb(71, 151, 217);
}

a:focus{
    color: white;
}
a{
    color: white;
}

.characters{
    width: 100%;
    height: 100%;
    background-position: left;
    background-size: 100% 100%;
    transition: all ease 0.6s;
    transform-style: preserve-3d;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 30px;
}


.outside{
    display: inline-block;
    transition: all ease 0.2s;
}

.outside:hover .characters{
    transform: perspective(400px) rotateY(180deg);
}

.outside:active{
    transform: scale(0.9);
}

.characters:hover{
    cursor: pointer;
    transform: rotateY(180deg);
}

.back{
    z-index: 1;
}

.back{
    text-align: center;
    transform: rotateY(180deg);
}

.front, .back{
    backface-visibility: hidden;
}

.text{
    font-family: Verdana;
    background-color: #000000a0;
    color: white;
    padding: 10px;
    font-size: 21px;
}

.knight{
    background-image: url("./images/knight.png");
}

h3{
    background-color: #0000007b;
    font-size: 35px;
    text-align: center;
    color: white;
    padding: 10px;
    margin-top: 20px;
}

.hornet{
    background-image: url("./images/hornet.jpg");
}

.hollow-knight{
    background-image: url("./images/hollow-knight.webp");
}

.grimm{
    background-image: url("./images/grimm.png");
}

.mantis-lords{
    background-image: url("./images/mantis-lords.png");
    
}

.soul-master{
    background-image: url("./images/Screenshot\ from\ 2024-09-30\ 21-48-59.png");
}


.areas{
    display: grid;
    padding: 20px;
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    padding-right: 40px;
}

.areas > div{
    padding-top: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
    border-radius: 40px;
    transition: all ease-in-out 0.2s;
}

.areas > div:hover{
    border-radius: 20px;
    cursor: pointer;
    font-size: 37px;
}

.greenpath{
    background-image: url("./images/Greenpath_Northern_Area.webp");
    background-size: 100% 100%;
}

.fungalwaste{
    background-image: url("./images/Fungal_Core_West_Area.webp");
    background-size: 100% 100%;
}

.items{
    display: grid;
    padding: 20px;
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    padding-right: 40px;
}

.items > div{
    display: grid;
    grid-template-columns: 35% 65%;
    color: white;
    font-size: 30px;
    transition: all ease-in-out 0.44s;
}
.items > div:hover{
    text-decoration: underline;
    cursor: pointer;
}
.caption{
    padding-top: 20px;
    text-align: left;
}

@media only screen and (max-width: 1500px) {
    .article{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .article > div{
        min-width: 300px;
    }
    .navbar{
        max-width: 160px;
    }
}

@media only screen and (max-width: 1000px){
    .article{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        min-width: 420px;
    }
    .article > div{
        min-height: 350px;
    }
}

